server {
    listen 80;
    server_name {{ nginx_site_name }};

    root {{ project_dir_subdomain }};
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /api/ {
        proxy_pass http://localhost:{{ api_port_subdomain }}/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    access_log {{ project_dir_subdomain }}/logs/nginx-access.log;
    error_log {{ project_dir_subdomain }}/logs/nginx-error.log;
}
